{% extends "base.html" %}

{% block mainbody %}
    <p>继承了base.html</p>

<table class="table table-hover" border="1">
    <thead>
        <tr>
            <th>中文名</th>
            <th>英文名</th>
            <th>手机</th>
        </tr>
    </thead>
    <tbody>
        {% for line in user_list %}
            <tr>
                <td>{{ line.chiname }}</td>
                <td>{{ line.enname }}</td>
                <td>{{ line.phnum }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>



{% endblock %}